body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    width: 100%;
}

@media (min-width: 640px) {
    .container {
        max-width: 640px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media (min-width: 1024px) {
    .container {
        max-width: 1024px;
    }
}

@media (min-width: 1280px) {
    .container {
        max-width: 1280px;
    }
}

@media (min-width: 1536px) {
    .container {
        max-width: 1536px;
    }
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
}

.hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -2px;
    left: 0;
    background-color: #0087ca;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
    transform: scaleX(1);
}

.hover-underline-animation::after {
    transform-origin: bottom center;
}

.hover-underline-animation:hover::after {
    transform-origin: bottom center;
}

/* Button Style */

.btn {
    padding: 4px 12px;
    border-radius: 99999px;
    transition: all 0.3s ease-in;
    text-align: center;
}

.btn-primary {
    background-color: blue;
    color: white;
}

.btn-primary:hover {
    background-color: rgb(93, 93, 255);
}

.btn-destroy {
    background-color: red;
    color: white;
}

.btn-destroy:hover {
    background-color: rgb(255, 102, 102);
}

.btn-secondary {
    background-color: rgb(39, 39, 39);
    color: white;
}

.btn-secondary:hover {
    background-color: rgb(91, 91, 91);
}

a.link {
    color: rgb(0, 0, 250);
    transition: all 0.5s ease-in-out;
}