#main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Grid container for the layout */
.grid-container {
    display: grid;
    grid-template-columns: 220px 1fr;
    gap: 20px;
    padding: 20px;
}

/* Style for the aside section */
.sidebar {
    position: sticky; 
    top: 80px;
    align-self: start;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

}

.sidebar-item {
    background-color: #ffffff;
    border-radius: 8px;
    border: 1px solid #DFDEDB;
    position: relative;
    width: 100%;
}

.sidebar-item .img {
    position: absolute;
    height: 72px;
    width: 72px;
    border-radius: 100%;
    padding: 16px;
    background-color: #F8FAFD;
    border: white 1.5px solid;
    top: 25px;
    left: 50%;
    transform: translateX(-50%);
}

.sidebar-item .sidebar-top {
    height: 60px;
    background-color: #A0B4B7;
    border-radius: 8px 8px 0 0;
}

.sidebar-item .sidebar-main {
    margin: 50px 10px 20px 10px;
}

.sidebar-main p {
    text-align: center;
    font-weight: 600;
}

/* Style for the main content */
.main-content {
    background-color: inherit;
    padding: 8px 20px 8px 20px;
    border-radius: 8px;
}